/Library/
/Temp/
/Logs/
/obj/
/Builds/*
!/Builds/validation_phase2/
!/Builds/validation_phase3/
!/Builds/validation_device/
!/Builds/validation_ambiente/
!/Builds/validation_portas/
!/Builds/validation_menu/
!/Builds/validation_v041/
!/Builds/shots/
!/Builds/shots_art/
!/Builds/sprites_contact/
!/Builds/creatives/
!/Builds/validation_v05/
!/Builds/validation_v05b/
!/Builds/validation_v05c/
!/Builds/validation_v051/
!/Builds/validation_emulador/
!/Builds/validation_levelplay/
__pycache__/
/UserSettings/
/tools/coretests/bin/
/tools/coretests/obj/
*.csproj
!/tools/coretests/*.csproj
!/tools/viewcheck/**/*.csproj
!/tools/phase2_core_proof_20261007/*.csproj
*.sln
/Builds/**/*.log
/.utmp/
